body {
    font-family: 'Yeseva One', cursive;
    font-family: 'Cabin', sans-serif;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 60px;
    font-family: 'Yeseva One', cursive;
}

.flaxible-container {
    display: flex;
    align-items: center;
}

.orange-color {
    color: orange;
}

.stay-focused img {
    width: 60%;
}

.stay-focused {
    margin-bottom: 82px;
}

.half-width {
    width: 50%;
    padding-left: 70px;
}

.half-width p {
    max-width: 62%;
    color: #3E3E3E;
}

.link-button {
    padding: 12px 38px;
    background: #FF5959;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    margin: 19px 0 33px 0;
}

.border-color {
    border-left: 5px solid;
    border-image: linear-gradient(green, orange);
    border-image-slice: 1;
    padding-left: 15px;
}

.mission-container {
    margin-bottom: 86px;
}

.mission-container h1 {
    font-size: 48px;
    text-align: center;
}

.mission-item {
    width: 30%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 19px 33px;
    border-radius: 26px;
}

.mission-item img {
    width: 50%;
}

#mission {
    background: rgba(79, 157, 166, 0.1);
}

#vission {
    background: rgba(255, 89, 89, 0.1);
}

#goals {
    background: #FFF4D6;
}

.develop-container img {
    width: 70%;
}

.develop-container h1 {
    font-size: 36px;
}

/* .develop-container p {
    max-width: 50%;
} */

.develop-container {
    padding-left: 80px;
    margin-bottom: 100px;
    background-image: url(../images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 13%;
    background-position: top 25% left;
}

.half-height {
    width: 60%;
}

.half-height1 {
    width: 40%;
}

.gobal-container {
    padding-left: 80px;
    padding-bottom: 100px;
    background-image: url(../images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 13%;
    background-position: bottom 10% right 10%;
}

.gobal-container img {
    width: 70%;
}

.half {
    margin-left: 20px;
}

.half h1 {
    font-size: 35px;
    max-width: 45%;
}

.footer {
    background: #000;
    color: #ffff;
    text-align: center;
    padding: 40px 0;
}

.footer h1 {
    font-size: 36px;
}